/* Các kiểu tùy chỉnh cho menu */
.menuhahaha .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    /* Đổi màu chữ thành trắng */
    font-weight: 600;
    /* Làm chữ dày hơn */
}

.navbar-custom .navbar-brand {
    color: rgb(2, 2, 2);
    /* Đổi màu chữ thành trắng */
    font-weight: 600;
}

.navbar-custom .nav-link {
    color: rgb(0, 0, 0);
    /* Đổi màu chữ thành trắng */
    font-weight: 500;
}



.navbar-custom .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.banner2 {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.banner i {
    margin-right: 5px;
}


.banner span:hover {
    color: #a02222;
} 
.menuhahaha .orange-button {
    background-color: orange;
    color: white;
    padding: 7px;
    border-radius: 50px;
    display: inline-block;
}

.menuhahaha .orange-button i {
    margin-right: 10px;
}

.orange-button span {
    margin-right: 30px;
}

.country {
    display: block;
}

#navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
}
.menuhahaha #navbar a {
    color: #000;
}
.menuhahaha #navbar .search-hidden {
    display: flex;
    align-items: center;
}

.menuhahaha #navbar .search-input {
    width: 570px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

#navbar .search-hidden button {
    padding: 8px 12px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: -12%;
    border-radius: 30px;
}

#navbar .camerasearch {
    margin-left: -18%;
    color: #ff9800;
    cursor: pointer;
}
#navbar .search-hidden button:hover {

    color: rgb(0, 0, 0);
}
.navbar a:hover {
    color: rgb(29, 55, 206);
}
.menuhahaha {
    padding-bottom: 2%;
}
.footer3 {
    padding-top: 1%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer3 p {
    white-space: nowrap;
    font-size: medium;
    color: #464649;
    font-size: 14px;
}
.footer3 a {
    font-size: 14px;
    color: #464649;
    text-decoration: none;
}
.footer3 a:hover {
    text-decoration: underline;
}
